fastapi
uvicorn[standard]
websockets
wsproto
sqlalchemy
pydantic
pydantic-settings
python-dotenv
alembic
psycopg2-binary
requests
python-multipart
pyjwt
passlib[bcrypt]
bcrypt
emails
jinja2
email-validator
Pillow
opencv-python-headless
numpy
pytesseract
qrcode[pil]
paddlepaddle
paddleocr
tzdata
